<div id="<%= dom_id contract %>" class="p-2">
  <div class="border-top border-bottom w-80">
    <p class="m-0 mb-1"><%= contract.name %></p>
    <p class="m-0 text-muted"><i class="bi bi-archive"></i><%= contract.created_at %></p>
  </div>
  <p class="d-flex justify-content-between align-items-center m-0">TOTAL PAYMENT <strong>$<%=contract.amount %></strong></p>
</div>
