<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-2 d-flex justify-content-between p-2">
    <div class="d-flex">
    <% if group.category_icon.attached?%>
   <image src="<%=(url_for(group.category_icon)) %>" class="img-fluid rounded-start" alt="Category image" style="max-width: 50px; height:50px;">
  <%end%>
  <div class="d-flex flex-column ms-2">
  <span class="card-text"><%= group.name %></span>
  <span class="card-text"><small class="text-muted"><%=group.created_at%></small></span>
  </div>
  </div>
  <h5 class="card-title">$<%=transaction_total(group)%></h5>
    </div>
  </div>
</div>