<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
  <% if group.category_icon.attached?%>
   <image src="<%=(url_for(group.category_icon)) %>">
  <%end%>
  <p>$<%=transaction_total(group)%></p>
  </p>

</div>
