<div class="card mb-3 rounded-0 m-2" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-8 d-flex justify-content-between p-2">
    <div class="d-flex align-items-center">
    <% if group.category_icon.attached?%>
   <image src="<%=(url_for(group.category_icon)) %>" class="img-fluid rounded-start" alt="Category image" style="max-width: 50px; height:50px;">
  <%end%>
  <span class="card-text ms-1"><%= group.name %></span>
  </div>
    </div>
  </div>
  <p class="card-text ms-2  text-muted fs-6 ">This is fantastic. I've been following along the progress in fs-6 loem ipsomd lorem10 mndsfl jafbafpo ajdfhadpifjdapfhadfhdafdas</p>

  <%@group.contracts.order(created_at: :desc).each do |contract|%>
  <%= render contract %>
  <%end%>
</div>
