<p style="color: green"><%= notice %></p>

<h1>Groups</h1>

<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Category details", group %>
    </p>
  <% end %>
</div>

<%= link_to "Add category", new_group_path %>
