<div>
<h1>WELCOME TO MY TRANSACTION APP</h1>
<%- if controller_name != 'sessions' %>
  <%= link_to "Log in", new_user_session_path, method: :get %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_user_registration_path, method: :get %><br />
<% end %>
</div>