<div class="d-flex justify-content-center flex-column align-items-center h-100 position-relative">
<i class="bi bi-wallet2 fs-2"></i>
<h1>SPENDWISELY</h1>

<div class="position-absolute splash start-50 translate-middle w-100 d-flex flex-column align-items-center justify-content-center mt-2">
<%- if controller_name != 'sessions' %>
  <%= link_to "LOG IN", new_user_session_path, class:"btn w-75 rounded-0", style:"background-color:#3778C2; color:#EDF5FE;",  method: :get %>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "SIGN UP", new_user_registration_path, class:"mt-3 link-dark text-muted text-decoration-none" ,method: :get %>
<% end %>
</div>
</div>